<div>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <a class="navbar-brand" href="">Duffel Bag</a>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Главная</a></li>
                <li><a href="#">Установки</a></li>
                <li><a href="#">Действия</a></li>
                <li><a href="#">Помощь</a></li>
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2 sidebar">
                <ul class="nav nav-sidebar">
                    <li routerLinkActive="active"><a routerLink="nodelist">Главная панель</a></li>
                    <li routerLinkActive="active"><a routerLink="node">Ноды</a></li>
                    <li><a href="" class="active">Локации</a></li>
                    <li><a href="">4444</a></li>
                    <li><a href="">5555</a></li>
                    <li><a href="">6666</a></li>
                </ul>
            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>
